body {
  background-color: rgb(0, 0, 0);
}
/*-----------------------------------------navbar----------------------------------*/
.nav1 {
  background-color: black;
}

ul > li > a {
  color: white;
}

#icons-button-navbar {
  margin-top: 9px;
  margin-right: 7px;
  display: flex;
}

/*------------------------------------ image-profile-buttons--------------------------*/

.avatar {
  vertical-align: middle;
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

/*------------------------------------artists-images-----------------------------------*/

#pump {
  width: 13rem;
  height: 13rem;
  margin-top: -330px;
  margin-right: -31px;
}

/*-------------------------------------vertical line---------------------------------*/
.vl {
  border-left: 2px solid rgb(255, 255, 255);
  height: 870px;
  margin-left: -120px;
}

#vl2 {
  margin-left: 160px;
}

.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
